<hr>
    <footer>
        🎈 🎈 🎈 
        <small>Sitio hecho con
           <a href="https://https://www.11ty.dev" target="_blank">
                <b>
                    <i>11ty</i>
                </b>
            </a>
        </small>
        🎈 🎈 🎈 
    </footer>