---
layout: layout-page.njk
title: Página de acerca
description: Meta descripción de la página de acerca
---

<h1>{{ title }}</h1>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex eos voluptatibus quisquam dolorum sequi expedita aut
    assumenda, eveniet molestiae reprehenderit, deserunt, officia illo fugiat et numquam tenetur similique? Necessitatibus,
    quidem.</p>
<img src="/img/eleventy-mascots.avif" alt="Mascotas Eleventy">