---
layout: layout-page.njk
title: Página de contacto
description: Meta descripción de la página de contacto
---

<h1>{{ title }}</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet nisi, exercitationem obcaecati, recusandae, error
    nesciunt suscipit voluptate ipsam harum tempore ex autem laboriosam excepturi dignissimos nobis doloremque repellendus
    quasi asperiores.</p>

<img src="/img/eleventy-grumpy.avif" alt="Grumpy Eleventy">
